<html>
    <head>
        <title>Sentipedia</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href = "../static/css/bootstrap.css" media="all" type="text/css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--  Paper Dashboard core CSS    -->
    <link href="../static/css/paper-dashboard.css" rel="stylesheet"/>
    <link href="../static/css/themify-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/imgs/favicon.ico">




    </head>
<body>
    </div>
          <div class="header">
              <center>
              <h1 class="title"><img src="../static/imgs/error_search.png"  alt="Sports" height="256" width="256"></h1>

              <nav class="bg-danger" id="1"><h3 class="title"><font color="#BC5254"  size="+3" style="font-family:Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', sans-serif; letter-spacing:3px"spry:hover="alert-danger glyphicon-font">Twitter API request limit exceeded!</font></nav>
              </h3>
                            <br><br><br><br><br><br>
              <a href="{{url_for('index')}}">
                      <img src="../static/imgs/home.png"  alt="Home">
              </a>
              <p>Back to home</p>
              </center>
          </div>
        </div>

    </body>
</html>